<% layout("/layouts/boilerfooter.ejs") -%>

<div id="loader">
    <h1>ATTENDANCE</h1>
    <h1>LOCATION</h1>
    <h1>VISUALIZATION</h1>
</div>
<div id="page1">
    <div id="right">
        <h1 id="Tbold">TRACK &nbsp; VISUALIZE</h1>
        <br>
        <div>
            TechSnap Revolutionize attendance with location tracking and dynamic data visualization for students and workers. Your productivity, redefined.
        </div>
    </div>
    <div >
        <div id="hero">
            <div id="hero1"></div>
        </div>
        <video id="myVideo" autoplay loop muted src="/images/short.mp4"></video>
    </div>
</div>

<div id="page2">
    <div id="moving">
        <div class="con">
            <h3> &nbsp;ATTENDANCE &nbsp;</h3>
            <div class="gola"></div>
            <h3> &nbsp;LOCATION &nbsp;</h3>
            <div class="gola"></div>
            <h3> &nbsp;VISUALIZATION &nbsp;</h3>
            <div class="gola"></div>
        </div>
        <div class="con">
            <h3> &nbsp;ATTENDANCE &nbsp;</h3>
            <div class="gola"></div>
            <h3> &nbsp;LOCATION &nbsp;</h3>
            <div class="gola"></div>
            <h3> &nbsp;VISUALIZATION &nbsp;</h3>
            <div class="gola"></div>
        </div>
        <div class="con">
            <h3> &nbsp;ATTENDANCE &nbsp;</h3>
            <div class="gola"></div>
            <h3> &nbsp;LOCATION &nbsp;</h3>
            <div class="gola"></div>
            <h3> &nbsp;VISUALIZATION &nbsp;</h3>
            <div class="gola"></div>
        </div>
    </div>

   
    </div>
</div>


