<% layout("/layouts/boilerplate.ejs") -%>
<br>
<div class="fbtn">
    <form action="/classroom/<%=classroomId %>/form/<%= sessionId %>" method="get">
        <button type="submit">End Form</button>
    </form>
</div>